name: Ensure CHANGELOG updated

on:
  pull_request:
    types: [assigned, opened, synchronize, reopened, labeled, unlabeled]
    branches: [main]

permissions:
  contents: read
  checks: write

jobs:
  changelog:
    name: Ensure changelog updated
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - name: Changelog check
        uses: Zomzog/changelog-checker@09cfe9ad3618dcbfdba261adce0c41904cabb8c4 # v1.3.0
        with:
          fileName: CHANGELOG.md
          noChangelogLabel: no-changelog
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
