name: Ensure CHANGELOG updated

on:
  pull_request:
    types: [assigned, opened, synchronize, reopened, labeled, unlabeled]
    branches: [main]

permissions:
  contents: read
  checks: write

jobs:
  changelog:
    name: Ensure changelog updated
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0
        with:
          persist-credentials: false
      - name: Changelog check
        uses: Zomzog/changelog-checker@564f4aa7a062e7498bd253f616569f02fb024c06 # v1.2.0
        with:
          fileName: CHANGELOG.md
          noChangelogLabel: no-changelog
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
